ul {
    list-style-type: none;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(223, 56, 51);
}

li {
    float: left;
}

.navbar-right {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: rgb(223, 56, 51);
}
